* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fafafa;
    font-size: 1rem;
    font-family: 'Open Sans', 'Lato', sans-serif !important;
}

/*MAIN NAVBAR*/

#navbar-top .navbar-nav li > a {
    text-transform: capitalize;
    transition: background-color .2s, color .2s;
}

#navbar-top .navbar-nav li.active > a {
    color: #7f8c8d !important;
}

#navbar-top .navbar-nav li > a:hover {
    color: #7f8c8d !important;
}

/*HEADER IMG*/
.header-img {
    
}

/*https://cdn-blob-prd.azureedge.net/prd-pws/images/default-source/default-album/high-school-students.jpg?sfvrsn=9498bf7c_2*/