* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fafafa;
    font-size: 1rem;
    font-family: 'Open Sans', 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-weight: 400;
    text-transform: uppercase;
}

/*MAIN NAVBAR*/
#navbar-top .navbar-nav li > a {
    text-transform: capitalize;
    transition: background-color .2s, color .2s;
}

#navbar-top .navbar-nav li.active > a {
    color: #7f8c8d !important;
}

#navbar-top .navbar-nav li > a:hover {
    color: #7f8c8d !important;
}

/*HEADER IMG*/
.header-img {
  background-image: linear-gradient(rgba(27, 20, 20, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://cdn-blob-prd.azureedge.net/prd-pws/images/default-source/default-album/high-school-students.jpg?sfvrsn=9498bf7c_2*);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 500px;
}

#sub-header-title {
    text-shadow: 0px 0px 6px rgba(150, 150, 150, 0.4);
}
